/* COMMON STYLE */
.clearfix{
    clear:both;
}

.container{
    max-width: 1280px;
    margin: 50px;
}

.header {
    margin-bottom: 22px;
    text-align: left;
}

.header-logo{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: black;
}
.span-logo {
    color: #4BCAFF;
}
/* NAVBAR */

.navbar {
    background-color: #35444F;
    height: 70px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav-item {
    display: inline-block;
    padding-right: 81px;
    padding-top: 27px;
    padding-bottom: 27px;
}
.navbar-nav-item:hover {
    background-color: #222F3A;
}

.navbar-nav-link {
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}


.menu {
    margin-top: 40px;
    border: 1px solid #000;
    width: 300px;
    box-sizing: border-box;
    display: inline-block;
}
.menu-main-item {
    font-size: 30px;
    padding-left: 33px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.menu-main-item:hover {
    background: #DBDBDB;
    padding-left: 40px;
}

.menu-main-link {
    text-decoration: none;
    color: black;
}

.img-container {
    float: right;
    width: 885px;
}

.img {
    text-align: center;
    height: 529px;
    border: 1px solid #000;
    padding-top: 60px;
    box-sizing: border-box;
    margin-top: 40px;
}

.main-text {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
    margin-top: 17px;
}

.navbar-lower {
    background-color: #35444F;
    height: 70px;
    margin-top: 400px;
}

.navbar-nav-lower {
    text-align: left;
    padding-left: 20px;
}

.navbar-nav-item-lower {
    display: inline-block;
    padding-right: 81px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.navbar-nav-item-lower:hover {
    background-color: #222F3A;
}

.navbar-nav-link-lower {
    text-decoration: none;
    font-size: 18px;
    color: #B4B7BA;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.footer {
    text-align: right;
}

